@{
    ViewData["Title"] = "Memeium";
}

<h2>MemeIum</h2>
<p class="lead text-left"><pre>
MemeIum is a new cryptocurrency. It is currently developed by Me (Barnabás Rátki).

<a href="https://github.com/Dewyer/MemeIum/blob/master/HowToInstall.txt">How to install a full node.</a>

It is fun XD

Advantages of MemeIum:
    -It has "Meme" in the name
    -Easy to mine
    -You can tip someone if you see a good meme
    -You can take part in meme competitions (MemeOff)

Cheers.
<span class="bg-success">:D</span>.
</pre></p>