@model MemeIumServices.ViewModels.RegisterFormErrorViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <h2>Register</h2>
    <form asp-controller="Home" asp-action="DoRegister" method="post">
        <div class="form-group">
            @{
                if (Model?.Errors != null)
                {
                    foreach (var modelError in Model.Errors)
                    {
                        <p class="text-danger">@modelError</p>
                    }
                }
            }
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="@Model?.Email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
        </div>
        <div class="form-group">
            <label for="privkey">Private key (If you already have one, if not leave this blank):</label>
            <textarea class="form-control" rows="5" id="privkey" name="privkey" >@Model?.PrivKey</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" id="sender">Register</button>
        </div>
    </form>
</div>
